<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center ion-text-uppercase">login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <figure class="ion-text-center">
    <ion-avatar class="center-avatar">
      <img src="https://cdn-icons-png.flaticon.com/512/5087/5087579.png" alt="logo" class="logo" >
    </ion-avatar>
  </figure>
  <form [formGroup]="loginform" (ngsubmit)="login(loginform.value)">
    <ion-item>
      <ion-input  label="Email" labelPlacement="floating" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>
    <ion-button type="submit" [disabled]="!loginform.valid"
    expand="full"
    >Iniciar Sesión</ion-button>
  </form>
</ion-content>
